In [23]:
import pandas as pd

In [33]:
import re

def find_max_number(text):
    # Находим все числа (включая отрицательные и дробные) [[1]][[6]]
    numbers = re.findall(r"[-+]?\d*\.?\d+|\d+", text)
    if not numbers:
        return 0  # Если чисел нет
    # Преобразуем строки в числа и находим максимум [[1]][[9]]
    return max(map(float, numbers))


df = pd.read_excel("https://docs.google.com/spreadsheets/d/1OJiCQptJ8DEgr916EpL-CsrxSsEtKiAK0MV_IyrtdCo/export?format=xlsx")
df.drop(0,axis=0, inplace=True)
df.reset_index(inplace=True)
df.drop('index',axis=1,inplace = True)

dict_i = {}
for i in ['1. Ваш возраст?', '2. Сколько букв в вашем имени?','11. Напишите число']:
    dict_i[i] = []
    for _ in df[i].values:
        try:
            dict_i[i].append(int(_))
        except:
            dict_i[i].append(find_max_number(_))
    df[i] = dict_i[i]

df

,Отметка времени,1. Ваш возраст?,2. Сколько букв в вашем имени?,3. Ощущаете ли вы себя психологически уравновешанным?,4. Как часто вы посещаете занятия в университете? (по колличеству раз в неделю),5. Сколько времени в среднем вы тратите на домашние задания ежедневно?,"6. Оцените, как вам нравится учиться в университете:",7. Сколько учебников или дополнительных материалов вы использовали за семестр?,8. Пользуетесь ли вы университетскими столовыми?,9. Пользовались ли вы электронно-библиотечной системой университета?,"10. Сколько вы знаете людей, живущих в общежитии?(Напишите число)",11. Напишите число,"12. Вы любите, когда вам говорят пожалуйста и спасибо?","13. Что, по вашем мнению из следующего списка стоит реализовать в университете?",14. Есть ли у вас ноутбук?,15. Откуда вы получаете расписание занятий?
0,2025-03-26 16:14:31.675,1488.0,8.0,Да,10.0,3.0,8.0,3.0,Нет,Да,6,911.0,Да,Велопарковку,Да,Приложение
1,2025-03-26 16:15:13.761,19.0,5.0,Нет,10.0,4.0,6.0,1.0,Нет,Нет,3,18419.0,Нет,Интернет+Розетки,Да,Сайт
2,2025-03-26 16:17:09.938,20.0,5.0,Да,10.0,2.0,1.0,0.0,Нет,Нет,10,8532.0,Нет,Интернет+Розетки,Да,Приложение
3,2025-03-26 16:18:05.041,21.0,7.0,Нет,1.0,1.0,3.0,3.0,Нет,Нет,20-30,50.0,Да,Интернет+Розетки,Да,Приложение
4,2025-03-26 16:18:42.426,199.0,199.0,Нет,0.0,0.0,1.0,0.0,Да,Да,199,199.0,Нет,Интернет+Розетки,Да,Приложение
5,2025-03-26 16:21:38.183,2.0,7.0,Нет,10.0,0.0,5.0,0.0,Нет,Нет,500,22983045.0,Да,Интернет+Розетки,Да,Сайт
6,2025-03-26 16:27:21.435,19.0,7.0,Нет,4.0,2.0,3.0,0.0,Нет,Да,7,5050.0,Да,Интернет+Розетки,Да,Сайт
7,2025-03-26 16:31:21.257,19.0,9.0,Да,10.0,10.0,10.0,2.0,Нет,Да,5,0.0,Да,Интернет+Розетки,Да,Приложение
8,2025-03-26 16:33:28.579,18.0,7.0,Да,8.0,8.0,5.0,3.0,Нет,Да,4,9.0,Да,Интернет+Розетки,Да,Сайт
9,2025-03-26 16:35:19.942,20.0,6.0,Да,10.0,5.0,8.0,0.0,Да,Нет,12,573.0,Да,Интернет+Розетки,Да,Приложение
10,2025-03-26 16:35:22.545,19.0,8.0,Да,10.0,2.0,5.0,0.0,Да,Да,15,911.0,Да,Интернет+Розетки,Да,Приложение
11,2025-03-26 16:38:21.748,19.0,8.0,Да,4.0,4.0,6.0,3.0,Нет,Да,12,0.0,Да,Велопарковку,Да,Приложение
12,2025-03-26 16:46:41.143,19.0,7.0,Нет,10.0,5.0,5.0,0.0,Нет,Да,5,237.0,Да,Интернет+Розетки,Да,Сайт
13,2025-03-26 16:48:11.073,200.0,37.0,Нет,10.0,0.0,10.0,7.0,Нет,Нет,4,0.0,Да,Интернет+Розетки,Да,Приложение
14,2025-03-26 16:54:30.175,21.0,8.0,Да,4.0,3.0,10.0,0.0,Нет,Нет,7,874.0,Да,Интернет+Розетки,Да,Приложение

In [25]:
df.describe()

,Отметка времени,1. Ваш возраст?,2. Сколько букв в вашем имени?,4. Как часто вы посещаете занятия в университете? (по колличеству раз в неделю),5. Сколько времени в среднем вы тратите на домашние задания ежедневно?,"6. Оцените, как вам нравится учиться в университете:",7. Сколько учебников или дополнительных материалов вы использовали за семестр?,11. Напишите число
count,15,15.000000,15.000000,15.000000,15.000000,15.000000,15.000000,1.500000e+01
mean,2025-03-26 16:30:23.928066560,140.200000,21.866667,7.400000,3.266667,5.733333,1.466667,1.534587e+06
min,2025-03-26 16:14:31.675000,2.000000,5.000000,0.000000,0.000000,1.000000,0.000000,0.000000e+00
25%,2025-03-26 16:18:23.733499904,19.000000,7.000000,4.000000,1.500000,4.000000,0.000000,2.950000e+01
50%,2025-03-26 16:31:21.256999936,19.000000,7.000000,10.000000,3.000000,5.000000,0.000000,5.730000e+02
75%,2025-03-26 16:36:52.146500096,21.000000,8.000000,10.000000,4.500000,8.000000,3.000000,2.980500e+03
max,2025-03-26 16:54:30.175000,1488.000000,199.000000,10.000000,10.000000,10.000000,7.000000,2.298304e+07
std,NaN,378.255431,49.616913,3.699421,2.890049,3.011091,2.030717,5.933539e+06

In [32]:
for i in range(len(df.columns[1:])):
    for j in range(i+1, len(df.columns[1:])):
        cross_tab = pd.crosstab(df[df.columns[i+1]], df[df.columns[1+j]])
        display(cross_tab)

2. Сколько букв в вашем имени?,5.0,6.0,7.0,8.0,9.0,37.0,199.0
1. Ваш возраст?,,,,,,,
2.0,0,0,1,0,0,0,0
18.0,0,0,1,0,0,0,0
19.0,1,0,2,2,1,0,0
20.0,1,1,0,0,0,0,0
21.0,0,0,1,1,0,0,0
199.0,0,0,0,0,0,0,1
200.0,0,0,0,0,0,1,0
1488.0,0,0,0,1,0,0,0

3. Ощущаете ли вы себя психологически уравновешанным?  Да  Нет
1. Ваш возраст?
2.0                                                     0    1
18.0                                                    1    0
19.0                                                    3    3
20.0                                                    2    0
21.0                                                    1    1
199.0                                                   0    1
200.0                                                   0    1
1488.0                                                  1    0

4. Как часто вы посещаете занятия в университете? (по колличеству раз в неделю),0.0,1.0,4.0,8.0,10.0
1. Ваш возраст?,,,,,
2.0,0,0,0,0,1
18.0,0,0,0,1,0
19.0,0,0,2,0,4
20.0,0,0,0,0,2
21.0,0,1,1,0,0
199.0,1,0,0,0,0
200.0,0,0,0,0,1
1488.0,0,0,0,0,1

5. Сколько времени в среднем вы тратите на домашние задания ежедневно?,0.0,1.0,2.0,3.0,4.0,5.0,8.0,10.0
1. Ваш возраст?,,,,,,,,
2.0,1,0,0,0,0,0,0,0
18.0,0,0,0,0,0,0,1,0
19.0,0,0,2,0,2,1,0,1
20.0,0,0,1,0,0,1,0,0
21.0,0,1,0,1,0,0,0,0
199.0,1,0,0,0,0,0,0,0
200.0,1,0,0,0,0,0,0,0
1488.0,0,0,0,1,0,0,0,0

"6. Оцените, как вам нравится учиться в университете:",1.0,3.0,5.0,6.0,8.0,10.0
1. Ваш возраст?,,,,,,
2.0,0,0,1,0,0,0
18.0,0,0,1,0,0,0
19.0,0,1,2,2,0,1
20.0,1,0,0,0,1,0
21.0,0,1,0,0,0,1
199.0,1,0,0,0,0,0
200.0,0,0,0,0,0,1
1488.0,0,0,0,0,1,0

7. Сколько учебников или дополнительных материалов вы использовали за семестр?,0.0,1.0,2.0,3.0,7.0
1. Ваш возраст?,,,,,
2.0,1,0,0,0,0
18.0,0,0,0,1,0
19.0,3,1,1,1,0
20.0,2,0,0,0,0
21.0,1,0,0,1,0
199.0,1,0,0,0,0
200.0,0,0,0,0,1
1488.0,0,0,0,1,0

8. Пользуетесь ли вы университетскими столовыми?  Да  Нет
1. Ваш возраст?
2.0                                                0    1
18.0                                               0    1
19.0                                               1    5
20.0                                               1    1
21.0                                               0    2
199.0                                              1    0
200.0                                              0    1
1488.0                                             0    1

9. Пользовались ли вы электронно-библиотечной системой университета?  Да  Нет
1. Ваш возраст?
2.0                                                                    0    1
18.0                                                                   1    0
19.0                                                                   5    1
20.0                                                                   0    2
21.0                                                                   0    2
199.0                                                                  1    0
200.0                                                                  0    1
1488.0                                                                 1    0

"10. Сколько вы знаете людей, живущих в общежитии?(Напишите число)",3,4,5,6,7,10,12,15,199,500,20-30
1. Ваш возраст?,,,,,,,,,,,
2.0,0,0,0,0,0,0,0,0,0,1,0
18.0,0,1,0,0,0,0,0,0,0,0,0
19.0,1,0,2,0,1,0,1,1,0,0,0
20.0,0,0,0,0,0,1,1,0,0,0,0
21.0,0,0,0,0,1,0,0,0,0,0,1
199.0,0,0,0,0,0,0,0,0,1,0,0
200.0,0,1,0,0,0,0,0,0,0,0,0
1488.0,0,0,0,1,0,0,0,0,0,0,0

11. Напишите число,0.0,9.0,50.0,199.0,237.0,573.0,874.0,911.0,5050.0,8532.0,18419.0,22983045.0
1. Ваш возраст?,,,,,,,,,,,,
2.0,0,0,0,0,0,0,0,0,0,0,0,1
18.0,0,1,0,0,0,0,0,0,0,0,0,0
19.0,2,0,0,0,1,0,0,1,1,0,1,0
20.0,0,0,0,0,0,1,0,0,0,1,0,0
21.0,0,0,1,0,0,0,1,0,0,0,0,0
199.0,0,0,0,1,0,0,0,0,0,0,0,0
200.0,1,0,0,0,0,0,0,0,0,0,0,0
1488.0,0,0,0,0,0,0,0,1,0,0,0,0

12. Вы любите, когда вам говорят пожалуйста и спасибо?  Да  Нет
1. Ваш возраст?
2.0                                                      1    0
18.0                                                     1    0
19.0                                                     5    1
20.0                                                     1    1
21.0                                                     2    0
199.0                                                    0    1
200.0                                                    1    0
1488.0                                                   1    0

"13. Что, по вашем мнению из следующего списка стоит реализовать в университете?",Велопарковку,Интернет+Розетки
1. Ваш возраст?,,
2.0,0,1
18.0,0,1
19.0,1,5
20.0,0,2
21.0,0,2
199.0,0,1
200.0,0,1
1488.0,1,0

14. Есть ли у вас ноутбук?  Да
1. Ваш возраст?
2.0                          1
18.0                         1
19.0                         6
20.0                         2
21.0                         2
199.0                        1
200.0                        1
1488.0                       1

15. Откуда вы получаете расписание занятий?  Приложение  Сайт
1. Ваш возраст?
2.0                                                   0     1
18.0                                                  0     1
19.0                                                  3     3
20.0                                                  2     0
21.0                                                  2     0
199.0                                                 1     0
200.0                                                 1     0
1488.0                                                1     0

3. Ощущаете ли вы себя психологически уравновешанным?  Да  Нет
2. Сколько букв в вашем имени?
5.0                                                     1    1
6.0                                                     1    0
7.0                                                     1    4
8.0                                                     4    0
9.0                                                     1    0
37.0                                                    0    1
199.0                                                   0    1

4. Как часто вы посещаете занятия в университете? (по колличеству раз в неделю),0.0,1.0,4.0,8.0,10.0
2. Сколько букв в вашем имени?,,,,,
5.0,0,0,0,0,2
6.0,0,0,0,0,1
7.0,0,1,1,1,2
8.0,0,0,2,0,2
9.0,0,0,0,0,1
37.0,0,0,0,0,1
199.0,1,0,0,0,0

5. Сколько времени в среднем вы тратите на домашние задания ежедневно?,0.0,1.0,2.0,3.0,4.0,5.0,8.0,10.0
2. Сколько букв в вашем имени?,,,,,,,,
5.0,0,0,1,0,1,0,0,0
6.0,0,0,0,0,0,1,0,0
7.0,1,1,1,0,0,1,1,0
8.0,0,0,1,2,1,0,0,0
9.0,0,0,0,0,0,0,0,1
37.0,1,0,0,0,0,0,0,0
199.0,1,0,0,0,0,0,0,0

"6. Оцените, как вам нравится учиться в университете:",1.0,3.0,5.0,6.0,8.0,10.0
2. Сколько букв в вашем имени?,,,,,,
5.0,1,0,0,1,0,0
6.0,0,0,0,0,1,0
7.0,0,2,3,0,0,0
8.0,0,0,1,1,1,1
9.0,0,0,0,0,0,1
37.0,0,0,0,0,0,1
199.0,1,0,0,0,0,0

7. Сколько учебников или дополнительных материалов вы использовали за семестр?,0.0,1.0,2.0,3.0,7.0
2. Сколько букв в вашем имени?,,,,,
5.0,1,1,0,0,0
6.0,1,0,0,0,0
7.0,3,0,0,2,0
8.0,2,0,0,2,0
9.0,0,0,1,0,0
37.0,0,0,0,0,1
199.0,1,0,0,0,0

8. Пользуетесь ли вы университетскими столовыми?  Да  Нет
2. Сколько букв в вашем имени?
5.0                                                0    2
6.0                                                1    0
7.0                                                0    5
8.0                                                1    3
9.0                                                0    1
37.0                                               0    1
199.0                                              1    0

9. Пользовались ли вы электронно-библиотечной системой университета?  Да  Нет
2. Сколько букв в вашем имени?
5.0                                                                    0    2
6.0                                                                    0    1
7.0                                                                    3    2
8.0                                                                    3    1
9.0                                                                    1    0
37.0                                                                   0    1
199.0                                                                  1    0

"10. Сколько вы знаете людей, живущих в общежитии?(Напишите число)",3,4,5,6,7,10,12,15,199,500,20-30
2. Сколько букв в вашем имени?,,,,,,,,,,,
5.0,1,0,0,0,0,1,0,0,0,0,0
6.0,0,0,0,0,0,0,1,0,0,0,0
7.0,0,1,1,0,1,0,0,0,0,1,1
8.0,0,0,0,1,1,0,1,1,0,0,0
9.0,0,0,1,0,0,0,0,0,0,0,0
37.0,0,1,0,0,0,0,0,0,0,0,0
199.0,0,0,0,0,0,0,0,0,1,0,0

11. Напишите число,0.0,9.0,50.0,199.0,237.0,573.0,874.0,911.0,5050.0,8532.0,18419.0,22983045.0
2. Сколько букв в вашем имени?,,,,,,,,,,,,
5.0,0,0,0,0,0,0,0,0,0,1,1,0
6.0,0,0,0,0,0,1,0,0,0,0,0,0
7.0,0,1,1,0,1,0,0,0,1,0,0,1
8.0,1,0,0,0,0,0,1,2,0,0,0,0
9.0,1,0,0,0,0,0,0,0,0,0,0,0
37.0,1,0,0,0,0,0,0,0,0,0,0,0
199.0,0,0,0,1,0,0,0,0,0,0,0,0

12. Вы любите, когда вам говорят пожалуйста и спасибо?  Да  Нет
2. Сколько букв в вашем имени?
5.0                                                      0    2
6.0                                                      1    0
7.0                                                      5    0
8.0                                                      4    0
9.0                                                      1    0
37.0                                                     1    0
199.0                                                    0    1

"13. Что, по вашем мнению из следующего списка стоит реализовать в университете?",Велопарковку,Интернет+Розетки
2. Сколько букв в вашем имени?,,
5.0,0,2
6.0,0,1
7.0,0,5
8.0,2,2
9.0,0,1
37.0,0,1
199.0,0,1

14. Есть ли у вас ноутбук?      Да
2. Сколько букв в вашем имени?
5.0                              2
6.0                              1
7.0                              5
8.0                              4
9.0                              1
37.0                             1
199.0                            1

15. Откуда вы получаете расписание занятий?  Приложение  Сайт
2. Сколько букв в вашем имени?
5.0                                                   1     1
6.0                                                   1     0
7.0                                                   1     4
8.0                                                   4     0
9.0                                                   1     0
37.0                                                  1     0
199.0                                                 1     0

4. Как часто вы посещаете занятия в университете? (по колличеству раз в неделю),0.0,1.0,4.0,8.0,10.0
3. Ощущаете ли вы себя психологически уравновешанным?,,,,,
Да,0,0,2,1,5
Нет,1,1,1,0,4

5. Сколько времени в среднем вы тратите на домашние задания ежедневно?,0.0,1.0,2.0,3.0,4.0,5.0,8.0,10.0
3. Ощущаете ли вы себя психологически уравновешанным?,,,,,,,,
Да,0,0,2,2,1,1,1,1
Нет,3,1,1,0,1,1,0,0

"6. Оцените, как вам нравится учиться в университете:",1.0,3.0,5.0,6.0,8.0,10.0
3. Ощущаете ли вы себя психологически уравновешанным?,,,,,,
Да,1,0,2,1,2,2
Нет,1,2,2,1,0,1

7. Сколько учебников или дополнительных материалов вы использовали за семестр?,0.0,1.0,2.0,3.0,7.0
3. Ощущаете ли вы себя психологически уравновешанным?,,,,,
Да,4,0,1,3,0
Нет,4,1,0,1,1

8. Пользуетесь ли вы университетскими столовыми?    Да  Нет
3. Ощущаете ли вы себя психологически уравновеш...
Да                                                   2    6
Нет                                                  1    6

9. Пользовались ли вы электронно-библиотечной системой университета?  Да  Нет
3. Ощущаете ли вы себя психологически уравновеш...
Да                                                                     5    3
Нет                                                                    3    4

"10. Сколько вы знаете людей, живущих в общежитии?(Напишите число)",3,4,5,6,7,10,12,15,199,500,20-30
3. Ощущаете ли вы себя психологически уравновешанным?,,,,,,,,,,,
Да,0,1,1,1,1,1,2,1,0,0,0
Нет,1,1,1,0,1,0,0,0,1,1,1

11. Напишите число,0.0,9.0,50.0,199.0,237.0,573.0,874.0,911.0,5050.0,8532.0,18419.0,22983045.0
3. Ощущаете ли вы себя психологически уравновешанным?,,,,,,,,,,,,
Да,2,1,0,0,0,1,1,2,0,1,0,0
Нет,1,0,1,1,1,0,0,0,1,0,1,1

12. Вы любите, когда вам говорят пожалуйста и спасибо?  Да  Нет
3. Ощущаете ли вы себя психологически уравновеш...
Да                                                       7    1
Нет                                                      5    2

"13. Что, по вашем мнению из следующего списка стоит реализовать в университете?",Велопарковку,Интернет+Розетки
3. Ощущаете ли вы себя психологически уравновешанным?,,
Да,2,6
Нет,0,7

14. Есть ли у вас ноутбук?                          Да
3. Ощущаете ли вы себя психологически уравновеш...
Да                                                   8
Нет                                                  7

15. Откуда вы получаете расписание занятий?         Приложение  Сайт
3. Ощущаете ли вы себя психологически уравновеш...
Да                                                           7     1
Нет                                                          3     4

5. Сколько времени в среднем вы тратите на домашние задания ежедневно?,0.0,1.0,2.0,3.0,4.0,5.0,8.0,10.0
4. Как часто вы посещаете занятия в университете? (по колличеству раз в неделю),,,,,,,,
0.0,1,0,0,0,0,0,0,0
1.0,0,1,0,0,0,0,0,0
4.0,0,0,1,1,1,0,0,0
8.0,0,0,0,0,0,0,1,0
10.0,2,0,2,1,1,2,0,1

"6. Оцените, как вам нравится учиться в университете:",1.0,3.0,5.0,6.0,8.0,10.0
4. Как часто вы посещаете занятия в университете? (по колличеству раз в неделю),,,,,,
0.0,1,0,0,0,0,0
1.0,0,1,0,0,0,0
4.0,0,1,0,1,0,1
8.0,0,0,1,0,0,0
10.0,1,0,3,1,2,2

7. Сколько учебников или дополнительных материалов вы использовали за семестр?,0.0,1.0,2.0,3.0,7.0
4. Как часто вы посещаете занятия в университете? (по колличеству раз в неделю),,,,,
0.0,1,0,0,0,0
1.0,0,0,0,1,0
4.0,2,0,0,1,0
8.0,0,0,0,1,0
10.0,5,1,1,1,1

8. Пользуетесь ли вы университетскими столовыми?    Да  Нет
4. Как часто вы посещаете занятия в университет...
0.0                                                  1    0
1.0                                                  0    1
4.0                                                  0    3
8.0                                                  0    1
10.0                                                 2    7

9. Пользовались ли вы электронно-библиотечной системой университета?  Да  Нет
4. Как часто вы посещаете занятия в университет...
0.0                                                                    1    0
1.0                                                                    0    1
4.0                                                                    2    1
8.0                                                                    1    0
10.0                                                                   4    5

"10. Сколько вы знаете людей, живущих в общежитии?(Напишите число)",3,4,5,6,7,10,12,15,199,500,20-30
4. Как часто вы посещаете занятия в университете? (по колличеству раз в неделю),,,,,,,,,,,
0.0,0,0,0,0,0,0,0,0,1,0,0
1.0,0,0,0,0,0,0,0,0,0,0,1
4.0,0,0,0,0,2,0,1,0,0,0,0
8.0,0,1,0,0,0,0,0,0,0,0,0
10.0,1,1,2,1,0,1,1,1,0,1,0

11. Напишите число,0.0,9.0,50.0,199.0,237.0,573.0,874.0,911.0,5050.0,8532.0,18419.0,22983045.0
4. Как часто вы посещаете занятия в университете? (по колличеству раз в неделю),,,,,,,,,,,,
0.0,0,0,0,1,0,0,0,0,0,0,0,0
1.0,0,0,1,0,0,0,0,0,0,0,0,0
4.0,1,0,0,0,0,0,1,0,1,0,0,0
8.0,0,1,0,0,0,0,0,0,0,0,0,0
10.0,2,0,0,0,1,1,0,2,0,1,1,1

12. Вы любите, когда вам говорят пожалуйста и спасибо?  Да  Нет
4. Как часто вы посещаете занятия в университет...
0.0                                                      0    1
1.0                                                      1    0
4.0                                                      3    0
8.0                                                      1    0
10.0                                                     7    2

"13. Что, по вашем мнению из следующего списка стоит реализовать в университете?",Велопарковку,Интернет+Розетки
4. Как часто вы посещаете занятия в университете? (по колличеству раз в неделю),,
0.0,0,1
1.0,0,1
4.0,1,2
8.0,0,1
10.0,1,8

14. Есть ли у вас ноутбук?                          Да
4. Как часто вы посещаете занятия в университет...
0.0                                                  1
1.0                                                  1
4.0                                                  3
8.0                                                  1
10.0                                                 9

15. Откуда вы получаете расписание занятий?         Приложение  Сайт
4. Как часто вы посещаете занятия в университет...
0.0                                                          1     0
1.0                                                          1     0
4.0                                                          2     1
8.0                                                          0     1
10.0                                                         6     3

"6. Оцените, как вам нравится учиться в университете:",1.0,3.0,5.0,6.0,8.0,10.0
5. Сколько времени в среднем вы тратите на домашние задания ежедневно?,,,,,,
0.0,1,0,1,0,0,1
1.0,0,1,0,0,0,0
2.0,1,1,1,0,0,0
3.0,0,0,0,0,1,1
4.0,0,0,0,2,0,0
5.0,0,0,1,0,1,0
8.0,0,0,1,0,0,0
10.0,0,0,0,0,0,1

7. Сколько учебников или дополнительных материалов вы использовали за семестр?,0.0,1.0,2.0,3.0,7.0
5. Сколько времени в среднем вы тратите на домашние задания ежедневно?,,,,,
0.0,2,0,0,0,1
1.0,0,0,0,1,0
2.0,3,0,0,0,0
3.0,1,0,0,1,0
4.0,0,1,0,1,0
5.0,2,0,0,0,0
8.0,0,0,0,1,0
10.0,0,0,1,0,0

8. Пользуетесь ли вы университетскими столовыми?    Да  Нет
5. Сколько времени в среднем вы тратите на дома...
0.0                                                  1    2
1.0                                                  0    1
2.0                                                  1    2
3.0                                                  0    2
4.0                                                  0    2
5.0                                                  1    1
8.0                                                  0    1
10.0                                                 0    1

9. Пользовались ли вы электронно-библиотечной системой университета?  Да  Нет
5. Сколько времени в среднем вы тратите на дома...
0.0                                                                    1    2
1.0                                                                    0    1
2.0                                                                    2    1
3.0                                                                    1    1
4.0                                                                    1    1
5.0                                                                    1    1
8.0                                                                    1    0
10.0                                                                   1    0

"10. Сколько вы знаете людей, живущих в общежитии?(Напишите число)",3,4,5,6,7,10,12,15,199,500,20-30
5. Сколько времени в среднем вы тратите на домашние задания ежедневно?,,,,,,,,,,,
0.0,0,1,0,0,0,0,0,0,1,1,0
1.0,0,0,0,0,0,0,0,0,0,0,1
2.0,0,0,0,0,1,1,0,1,0,0,0
3.0,0,0,0,1,1,0,0,0,0,0,0
4.0,1,0,0,0,0,0,1,0,0,0,0
5.0,0,0,1,0,0,0,1,0,0,0,0
8.0,0,1,0,0,0,0,0,0,0,0,0
10.0,0,0,1,0,0,0,0,0,0,0,0

11. Напишите число,0.0,9.0,50.0,199.0,237.0,573.0,874.0,911.0,5050.0,8532.0,18419.0,22983045.0
5. Сколько времени в среднем вы тратите на домашние задания ежедневно?,,,,,,,,,,,,
0.0,1,0,0,1,0,0,0,0,0,0,0,1
1.0,0,0,1,0,0,0,0,0,0,0,0,0
2.0,0,0,0,0,0,0,0,1,1,1,0,0
3.0,0,0,0,0,0,0,1,1,0,0,0,0
4.0,1,0,0,0,0,0,0,0,0,0,1,0
5.0,0,0,0,0,1,1,0,0,0,0,0,0
8.0,0,1,0,0,0,0,0,0,0,0,0,0
10.0,1,0,0,0,0,0,0,0,0,0,0,0

12. Вы любите, когда вам говорят пожалуйста и спасибо?  Да  Нет
5. Сколько времени в среднем вы тратите на дома...
0.0                                                      2    1
1.0                                                      1    0
2.0                                                      2    1
3.0                                                      2    0
4.0                                                      1    1
5.0                                                      2    0
8.0                                                      1    0
10.0                                                     1    0

"13. Что, по вашем мнению из следующего списка стоит реализовать в университете?",Велопарковку,Интернет+Розетки
5. Сколько времени в среднем вы тратите на домашние задания ежедневно?,,
0.0,0,3
1.0,0,1
2.0,0,3
3.0,1,1
4.0,1,1
5.0,0,2
8.0,0,1
10.0,0,1

14. Есть ли у вас ноутбук?                          Да
5. Сколько времени в среднем вы тратите на дома...
0.0                                                  3
1.0                                                  1
2.0                                                  3
3.0                                                  2
4.0                                                  2
5.0                                                  2
8.0                                                  1
10.0                                                 1

15. Откуда вы получаете расписание занятий?         Приложение  Сайт
5. Сколько времени в среднем вы тратите на дома...
0.0                                                          2     1
1.0                                                          1     0
2.0                                                          2     1
3.0                                                          2     0
4.0                                                          1     1
5.0                                                          1     1
8.0                                                          0     1
10.0                                                         1     0

7. Сколько учебников или дополнительных материалов вы использовали за семестр?,0.0,1.0,2.0,3.0,7.0
"6. Оцените, как вам нравится учиться в университете:",,,,,
1.0,2,0,0,0,0
3.0,1,0,0,1,0
5.0,3,0,0,1,0
6.0,0,1,0,1,0
8.0,1,0,0,1,0
10.0,1,0,1,0,1

8. Пользуетесь ли вы университетскими столовыми?    Да  Нет
6. Оцените, как вам нравится учиться в универси...
1.0                                                  1    1
3.0                                                  0    2
5.0                                                  1    3
6.0                                                  0    2
8.0                                                  1    1
10.0                                                 0    3

9. Пользовались ли вы электронно-библиотечной системой университета?  Да  Нет
6. Оцените, как вам нравится учиться в универси...
1.0                                                                    1    1
3.0                                                                    1    1
5.0                                                                    3    1
6.0                                                                    1    1
8.0                                                                    1    1
10.0                                                                   1    2

"10. Сколько вы знаете людей, живущих в общежитии?(Напишите число)",3,4,5,6,7,10,12,15,199,500,20-30
"6. Оцените, как вам нравится учиться в университете:",,,,,,,,,,,
1.0,0,0,0,0,0,1,0,0,1,0,0
3.0,0,0,0,0,1,0,0,0,0,0,1
5.0,0,1,1,0,0,0,0,1,0,1,0
6.0,1,0,0,0,0,0,1,0,0,0,0
8.0,0,0,0,1,0,0,1,0,0,0,0
10.0,0,1,1,0,1,0,0,0,0,0,0

11. Напишите число,0.0,9.0,50.0,199.0,237.0,573.0,874.0,911.0,5050.0,8532.0,18419.0,22983045.0
"6. Оцените, как вам нравится учиться в университете:",,,,,,,,,,,,
1.0,0,0,0,1,0,0,0,0,0,1,0,0
3.0,0,0,1,0,0,0,0,0,1,0,0,0
5.0,0,1,0,0,1,0,0,1,0,0,0,1
6.0,1,0,0,0,0,0,0,0,0,0,1,0
8.0,0,0,0,0,0,1,0,1,0,0,0,0
10.0,2,0,0,0,0,0,1,0,0,0,0,0

12. Вы любите, когда вам говорят пожалуйста и спасибо?  Да  Нет
6. Оцените, как вам нравится учиться в универси...
1.0                                                      0    2
3.0                                                      2    0
5.0                                                      4    0
6.0                                                      1    1
8.0                                                      2    0
10.0                                                     3    0

"13. Что, по вашем мнению из следующего списка стоит реализовать в университете?",Велопарковку,Интернет+Розетки
"6. Оцените, как вам нравится учиться в университете:",,
1.0,0,2
3.0,0,2
5.0,0,4
6.0,1,1
8.0,1,1
10.0,0,3

14. Есть ли у вас ноутбук?                          Да
6. Оцените, как вам нравится учиться в универси...
1.0                                                  2
3.0                                                  2
5.0                                                  4
6.0                                                  2
8.0                                                  2
10.0                                                 3

15. Откуда вы получаете расписание занятий?         Приложение  Сайт
6. Оцените, как вам нравится учиться в универси...
1.0                                                          2     0
3.0                                                          1     1
5.0                                                          1     3
6.0                                                          1     1
8.0                                                          2     0
10.0                                                         3     0

8. Пользуетесь ли вы университетскими столовыми?    Да  Нет
7. Сколько учебников или дополнительных материа...
0.0                                                  3    5
1.0                                                  0    1
2.0                                                  0    1
3.0                                                  0    4
7.0                                                  0    1

9. Пользовались ли вы электронно-библиотечной системой университета?  Да  Нет
7. Сколько учебников или дополнительных материа...
0.0                                                                    4    4
1.0                                                                    0    1
2.0                                                                    1    0
3.0                                                                    3    1
7.0                                                                    0    1

"10. Сколько вы знаете людей, живущих в общежитии?(Напишите число)",3,4,5,6,7,10,12,15,199,500,20-30
7. Сколько учебников или дополнительных материалов вы использовали за семестр?,,,,,,,,,,,
0.0,0,0,1,0,2,1,1,1,1,1,0
1.0,1,0,0,0,0,0,0,0,0,0,0
2.0,0,0,1,0,0,0,0,0,0,0,0
3.0,0,1,0,1,0,0,1,0,0,0,1
7.0,0,1,0,0,0,0,0,0,0,0,0

11. Напишите число,0.0,9.0,50.0,199.0,237.0,573.0,874.0,911.0,5050.0,8532.0,18419.0,22983045.0
7. Сколько учебников или дополнительных материалов вы использовали за семестр?,,,,,,,,,,,,
0.0,0,0,0,1,1,1,1,1,1,1,0,1
1.0,0,0,0,0,0,0,0,0,0,0,1,0
2.0,1,0,0,0,0,0,0,0,0,0,0,0
3.0,1,1,1,0,0,0,0,1,0,0,0,0
7.0,1,0,0,0,0,0,0,0,0,0,0,0

12. Вы любите, когда вам говорят пожалуйста и спасибо?  Да  Нет
7. Сколько учебников или дополнительных материа...
0.0                                                      6    2
1.0                                                      0    1
2.0                                                      1    0
3.0                                                      4    0
7.0                                                      1    0

"13. Что, по вашем мнению из следующего списка стоит реализовать в университете?",Велопарковку,Интернет+Розетки
7. Сколько учебников или дополнительных материалов вы использовали за семестр?,,
0.0,0,8
1.0,0,1
2.0,0,1
3.0,2,2
7.0,0,1

14. Есть ли у вас ноутбук?                          Да
7. Сколько учебников или дополнительных материа...
0.0                                                  8
1.0                                                  1
2.0                                                  1
3.0                                                  4
7.0                                                  1

15. Откуда вы получаете расписание занятий?         Приложение  Сайт
7. Сколько учебников или дополнительных материа...
0.0                                                          5     3
1.0                                                          0     1
2.0                                                          1     0
3.0                                                          3     1
7.0                                                          1     0

9. Пользовались ли вы электронно-библиотечной системой университета?  Да  Нет
8. Пользуетесь ли вы университетскими столовыми?
Да                                                                     2    1
Нет                                                                    6    6

"10. Сколько вы знаете людей, живущих в общежитии?(Напишите число)",3,4,5,6,7,10,12,15,199,500,20-30
8. Пользуетесь ли вы университетскими столовыми?,,,,,,,,,,,
Да,0,0,0,0,0,0,1,1,1,0,0
Нет,1,2,2,1,2,1,1,0,0,1,1

11. Напишите число,0.0,9.0,50.0,199.0,237.0,573.0,874.0,911.0,5050.0,8532.0,18419.0,22983045.0
8. Пользуетесь ли вы университетскими столовыми?,,,,,,,,,,,,
Да,0,0,0,1,0,1,0,1,0,0,0,0
Нет,3,1,1,0,1,0,1,1,1,1,1,1

12. Вы любите, когда вам говорят пожалуйста и спасибо?  Да  Нет
8. Пользуетесь ли вы университетскими столовыми?
Да                                                       2    1
Нет                                                     10    2

"13. Что, по вашем мнению из следующего списка стоит реализовать в университете?",Велопарковку,Интернет+Розетки
8. Пользуетесь ли вы университетскими столовыми?,,
Да,0,3
Нет,2,10

14. Есть ли у вас ноутбук?                        Да
8. Пользуетесь ли вы университетскими столовыми?
Да                                                 3
Нет                                               12

15. Откуда вы получаете расписание занятий?       Приложение  Сайт
8. Пользуетесь ли вы университетскими столовыми?
Да                                                         3     0
Нет                                                        7     5

"10. Сколько вы знаете людей, живущих в общежитии?(Напишите число)",3,4,5,6,7,10,12,15,199,500,20-30
9. Пользовались ли вы электронно-библиотечной системой университета?,,,,,,,,,,,
Да,0,1,2,1,1,0,1,1,1,0,0
Нет,1,1,0,0,1,1,1,0,0,1,1

11. Напишите число,0.0,9.0,50.0,199.0,237.0,573.0,874.0,911.0,5050.0,8532.0,18419.0,22983045.0
9. Пользовались ли вы электронно-библиотечной системой университета?,,,,,,,,,,,,
Да,2,1,0,1,1,0,0,2,1,0,0,0
Нет,1,0,1,0,0,1,1,0,0,1,1,1

12. Вы любите, когда вам говорят пожалуйста и спасибо?  Да  Нет
9. Пользовались ли вы электронно-библиотечной с...
Да                                                       7    1
Нет                                                      5    2

"13. Что, по вашем мнению из следующего списка стоит реализовать в университете?",Велопарковку,Интернет+Розетки
9. Пользовались ли вы электронно-библиотечной системой университета?,,
Да,2,6
Нет,0,7

14. Есть ли у вас ноутбук?                          Да
9. Пользовались ли вы электронно-библиотечной с...
Да                                                   8
Нет                                                  7

15. Откуда вы получаете расписание занятий?         Приложение  Сайт
9. Пользовались ли вы электронно-библиотечной с...
Да                                                           5     3
Нет                                                          5     2

11. Напишите число,0.0,9.0,50.0,199.0,237.0,573.0,874.0,911.0,5050.0,8532.0,18419.0,22983045.0
"10. Сколько вы знаете людей, живущих в общежитии?(Напишите число)",,,,,,,,,,,,
3,0,0,0,0,0,0,0,0,0,0,1,0
4,1,1,0,0,0,0,0,0,0,0,0,0
5,1,0,0,0,1,0,0,0,0,0,0,0
6,0,0,0,0,0,0,0,1,0,0,0,0
7,0,0,0,0,0,0,1,0,1,0,0,0
10,0,0,0,0,0,0,0,0,0,1,0,0
12,1,0,0,0,0,1,0,0,0,0,0,0
15,0,0,0,0,0,0,0,1,0,0,0,0
199,0,0,0,1,0,0,0,0,0,0,0,0
500,0,0,0,0,0,0,0,0,0,0,0,1
20-30,0,0,1,0,0,0,0,0,0,0,0,0

12. Вы любите, когда вам говорят пожалуйста и спасибо?  Да  Нет
10. Сколько вы знаете людей, живущих в общежити...
3                                                        0    1
4                                                        2    0
5                                                        2    0
6                                                        1    0
7                                                        2    0
10                                                       0    1
12                                                       2    0
15                                                       1    0
199                                                      0    1
500                                                      1    0
20-30                                                    1    0

"13. Что, по вашем мнению из следующего списка стоит реализовать в университете?",Велопарковку,Интернет+Розетки
"10. Сколько вы знаете людей, живущих в общежитии?(Напишите число)",,
3,0,1
4,0,2
5,0,2
6,1,0
7,0,2
10,0,1
12,1,1
15,0,1
199,0,1
500,0,1
20-30,0,1

14. Есть ли у вас ноутбук?                          Да
10. Сколько вы знаете людей, живущих в общежити...
3                                                    1
4                                                    2
5                                                    2
6                                                    1
7                                                    2
10                                                   1
12                                                   2
15                                                   1
199                                                  1
500                                                  1
20-30                                                1

15. Откуда вы получаете расписание занятий?         Приложение  Сайт
10. Сколько вы знаете людей, живущих в общежити...
3                                                            0     1
4                                                            1     1
5                                                            1     1
6                                                            1     0
7                                                            1     1
10                                                           1     0
12                                                           2     0
15                                                           1     0
199                                                          1     0
500                                                          0     1
20-30                                                        1     0

12. Вы любите, когда вам говорят пожалуйста и спасибо?  Да  Нет
11. Напишите число
0.0                                                      3    0
9.0                                                      1    0
50.0                                                     1    0
199.0                                                    0    1
237.0                                                    1    0
573.0                                                    1    0
874.0                                                    1    0
911.0                                                    2    0
5050.0                                                   1    0
8532.0                                                   0    1
18419.0                                                  0    1
22983045.0                                               1    0

"13. Что, по вашем мнению из следующего списка стоит реализовать в университете?",Велопарковку,Интернет+Розетки
11. Напишите число,,
0.0,1,2
9.0,0,1
50.0,0,1
199.0,0,1
237.0,0,1
573.0,0,1
874.0,0,1
911.0,1,1
5050.0,0,1
8532.0,0,1
18419.0,0,1
22983045.0,0,1

14. Есть ли у вас ноутбук?  Да
11. Напишите число
0.0                          3
9.0                          1
50.0                         1
199.0                        1
237.0                        1
573.0                        1
874.0                        1
911.0                        2
5050.0                       1
8532.0                       1
18419.0                      1
22983045.0                   1

15. Откуда вы получаете расписание занятий?  Приложение  Сайт
11. Напишите число
0.0                                                   3     0
9.0                                                   0     1
50.0                                                  1     0
199.0                                                 1     0
237.0                                                 0     1
573.0                                                 1     0
874.0                                                 1     0
911.0                                                 2     0
5050.0                                                0     1
8532.0                                                1     0
18419.0                                               0     1
22983045.0                                            0     1

"13. Что, по вашем мнению из следующего списка стоит реализовать в университете?",Велопарковку,Интернет+Розетки
"12. Вы любите, когда вам говорят пожалуйста и спасибо?",,
Да,2,10
Нет,0,3

14. Есть ли у вас ноутбук?                          Да
12. Вы любите, когда вам говорят пожалуйста и с...
Да                                                  12
Нет                                                  3

15. Откуда вы получаете расписание занятий?         Приложение  Сайт
12. Вы любите, когда вам говорят пожалуйста и с...
Да                                                           8     4
Нет                                                          2     1

14. Есть ли у вас ноутбук?                          Да
13. Что, по вашем мнению из следующего списка с...
Велопарковку                                         2
Интернет+Розетки                                    13

15. Откуда вы получаете расписание занятий?         Приложение  Сайт
13. Что, по вашем мнению из следующего списка с...
Велопарковку                                                 2     0
Интернет+Розетки                                             8     5

15. Откуда вы получаете расписание занятий?  Приложение  Сайт
14. Есть ли у вас ноутбук?
Да                                                   10     5