# Pandas

Материалы:
* Макрушин С.В. "Лекция 2: Библиотека Pandas"
* https://pandas.pydata.org/docs/user_guide/index.html#
* https://pandas.pydata.org/docs/reference/index.html
* Уэс Маккини. Python и анализ данных

In [1]:
import pandas as pd
import numpy as np

## Задачи для совместного разбора

1. Загрузите данные из файла `sp500hst.txt` и обозначьте столбцы в соответствии с содержимым: `"date", "ticker", "open", "high", "low", "close", "volume"`.

In [2]:
df = pd.read_csv('sp500hst.txt', names=["date", "ticker", "open", "high", "low", "close", "volume"])
df

            date ticker   open     high     low  close  volume
0       20090821      A  25.60  25.6100  25.220  25.55   34758
1       20090824      A  25.64  25.7400  25.330  25.50   22247
2       20090825      A  25.50  25.7000  25.225  25.34   30891
3       20090826      A  25.32  25.6425  25.145  25.48   33334
4       20090827      A  25.50  25.5700  25.230  25.54   70176
...          ...    ...    ...      ...     ...    ...     ...
122569  20100813    ZMH  51.72  51.9000  51.380  51.44   14561
122570  20100816    ZMH  51.13  51.4700  50.600  51.00   13489
122571  20100817    ZMH  51.14  51.6000  50.890  51.21   20498
122572  20100819    ZMH  51.63  51.6300  50.170  50.22   18259
122573  20100820    ZMH  50.03  50.5500  49.480  49.82   17792

[122574 rows x 7 columns]

2. Рассчитайте среднее значение показателей для каждого из столбцов c номерами 3-6.

In [3]:
df.iloc[:,3:7].mean(axis=0)

high         43.102243
low          42.054464
close        42.601865
volume    81395.068138
dtype: float64

3. Добавьте столбец, содержащий только число месяца, к которому относится дата.

In [4]:
df['months'] = (df.date%10000)//100
df

            date ticker   open     high     low  close  volume  months
0       20090821      A  25.60  25.6100  25.220  25.55   34758       8
1       20090824      A  25.64  25.7400  25.330  25.50   22247       8
2       20090825      A  25.50  25.7000  25.225  25.34   30891       8
3       20090826      A  25.32  25.6425  25.145  25.48   33334       8
4       20090827      A  25.50  25.5700  25.230  25.54   70176       8
...          ...    ...    ...      ...     ...    ...     ...     ...
122569  20100813    ZMH  51.72  51.9000  51.380  51.44   14561       8
122570  20100816    ZMH  51.13  51.4700  50.600  51.00   13489       8
122571  20100817    ZMH  51.14  51.6000  50.890  51.21   20498       8
122572  20100819    ZMH  51.63  51.6300  50.170  50.22   18259       8
122573  20100820    ZMH  50.03  50.5500  49.480  49.82   17792       8

[122574 rows x 8 columns]

4. Рассчитайте суммарный объем торгов для для одинаковых значений тикеров.

In [5]:
df1 = pd.DataFrame(df.groupby('ticker')['volume'].sum())
df1

          volume
ticker
A        8609336
AA      81898998
AAPL    52261170
ABC      9006756
ABT     18975870
...          ...
XTO     21297931
YHOO    56837171
YUM     10971538
ZION    15551119
ZMH      4938916

[524 rows x 1 columns]

5. Загрузите данные из файла sp500hst.txt и обозначьте столбцы в соответствии с содержимым: "date", "ticker", "open", "high", "low", "close", "volume". Добавьте столбец с расшифровкой названия тикера, используя данные из файла `sp_data2.csv` . В случае нехватки данных об именах тикеров корректно обработать их.

In [6]:
encodes = pd.read_excel('sp_data2.xlsx', names=['ticker','company','percentage'])
#df = pd.concat(df[:],encodes[:])
#df["company"].fillna("Unknown", inplace=True)

#encodes=encodes[encodes.columns[0:2]]
df1=pd.merge(df,encodes,)
df1

,date,ticker,open,high,low,close,volume,months,company,percentage
0,20090821,A,25.60,25.6100,25.220,25.55,34758,8,Agilent Technologies,0.1%
1,20090824,A,25.64,25.7400,25.330,25.50,22247,8,Agilent Technologies,0.1%
2,20090825,A,25.50,25.7000,25.225,25.34,30891,8,Agilent Technologies,0.1%
3,20090826,A,25.32,25.6425,25.145,25.48,33334,8,Agilent Technologies,0.1%
4,20090827,A,25.50,25.5700,25.230,25.54,70176,8,Agilent Technologies,0.1%
...,...,...,...,...,...,...,...,...,...,...
81926,20100813,ZION,20.17,20.4300,19.840,19.89,25193,8,Zions Bancorp,0.0%
81927,20100816,ZION,19.81,19.9600,19.600,19.95,25914,8,Zions Bancorp,0.0%
81928,20100817,ZION,20.07,20.4700,19.830,20.31,31717,8,Zions Bancorp,0.0%
81929,20100819,ZION,19.83,20.0000,19.130,19.35,45935,8,Zions Bancorp,0.0%
81930,20100820,ZION,19.15,19.2700,18.810,19.14,37225,8,Zions Bancorp,0.0%

## Лабораторная работа №2.1

### Базовые операции с `DataFrame`

1.1 В файлах `recipes_sample.csv` и `reviews_sample.csv` находится информация об рецептах блюд и отзывах на эти рецепты соответственно. Загрузите данные из файлов в виде `pd.DataFrame` с названиями `recipes` и `reviews`. Обратите внимание на корректное считывание столбца с индексами в таблице `reviews` (безымянный столбец).

In [7]:
recipes = pd.read_csv('recipes_sample.csv')
reviews = pd.read_csv('reviews_sample.csv', index_col=0)
reviews

,user_id,recipe_id,date,rating,review
370476,21752,57993,2003-05-01,5,Last week whole sides of frozen salmon fillet ...
624300,431813,142201,2007-09-16,5,So simple and so tasty! I used a yellow capsi...
187037,400708,252013,2008-01-10,4,"Very nice breakfast HH, easy to make and yummy..."
706134,2001852463,404716,2017-12-11,5,These are a favorite for the holidays and so e...
312179,95810,129396,2008-03-14,5,Excellent soup! The tomato flavor is just gre...
...,...,...,...,...,...
1013457,1270706,335534,2009-05-17,4,This recipe was great! I made it last night. I...
158736,2282344,8701,2012-06-03,0,This recipe is outstanding. I followed the rec...
1059834,689540,222001,2008-04-08,5,"Well, we were not a crowd but it was a fabulou..."
453285,2000242659,354979,2015-06-02,5,I have been a steak eater and dedicated BBQ gr...
691207,463435,415599,2010-09-30,5,Wonderful and simple to prepare seasoning blen...

In [8]:
recipes

,name,id,minutes,contributor_id,submitted,n_steps,description,n_ingredients
0,george s at the cove black bean soup,44123,90,35193,2002-10-25,NaN,an original recipe created by chef scott meska...,18.0
1,healthy for them yogurt popsicles,67664,10,91970,2003-07-26,NaN,my children and their friends ask for my homem...,NaN
2,i can t believe it s spinach,38798,30,1533,2002-08-29,NaN,"these were so go, it surprised even me.",8.0
3,italian gut busters,35173,45,22724,2002-07-27,NaN,my sister-in-law made these for us at a family...,NaN
4,love is in the air beef fondue sauces,84797,25,4470,2004-02-23,4.0,i think a fondue is a very romantic casual din...,NaN
...,...,...,...,...,...,...,...,...
29995,zurie s holey rustic olive and cheddar bread,267661,80,200862,2007-11-25,16.0,this is based on a french recipe but i changed...,10.0
29996,zwetschgenkuchen bavarian plum cake,386977,240,177443,2009-08-24,NaN,"this is a traditional fresh plum cake, thought...",11.0
29997,zwiebelkuchen southwest german onion cake,103312,75,161745,2004-11-03,NaN,this is a traditional late summer early fall s...,NaN
29998,zydeco soup,486161,60,227978,2012-08-29,NaN,this is a delicious soup that i originally fou...,NaN
29999,cookies by design cookies on a stick,298512,29,506822,2008-04-15,9.0,"i've heard of the 'cookies by design' company,...",10.0

In [9]:
recipes.dtypes

name               object
id                  int64
minutes             int64
contributor_id      int64
submitted          object
n_steps           float64
description        object
n_ingredients     float64
dtype: object

1.2 Для каждой из таблиц выведите основные параметры:
* количество точек данных (строк);
* количество столбцов;
* тип данных каждого столбца.

In [10]:
reviews.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 126696 entries, 370476 to 691207
Data columns (total 5 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   user_id    126696 non-null  int64
 1   recipe_id  126696 non-null  int64
 2   date       126696 non-null  object
 3   rating     126696 non-null  int64
 4   review     126679 non-null  object
dtypes: int64(3), object(2)
memory usage: 5.8+ MB

In [11]:
recipes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30000 entries, 0 to 29999
Data columns (total 8 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   name            30000 non-null  object
 1   id              30000 non-null  int64
 2   minutes         30000 non-null  int64
 3   contributor_id  30000 non-null  int64
 4   submitted       30000 non-null  object
 5   n_steps         18810 non-null  float64
 6   description     29377 non-null  object
 7   n_ingredients   21120 non-null  float64
dtypes: float64(2), int64(3), object(3)
memory usage: 1.8+ MB

1.3 Исследуйте, в каких столбцах таблиц содержатся пропуски. Посчитайте долю строк, содержащих пропуски, в отношении к общему количеству строк.

In [12]:
recipes.isnull().sum().sum()/(recipes.shape[0]*recipes.shape[1])

0.08622083333333333

In [13]:
reviews.isnull().sum().sum()/(reviews.shape[0]*reviews.shape[1])

2.683589063585275e-05

1.4 Рассчитайте среднее значение для каждого из числовых столбцов (где это имеет смысл).

In [14]:
me1 = recipes[['n_ingredients','n_steps','minutes']].mean()
me1

n_ingredients      9.008286
n_steps            9.805582
minutes          123.358133
dtype: float64

In [15]:
me2 = reviews[['rating']].mean()
me2

rating    4.410802
dtype: float64

1.5 Создайте серию из 10 случайных названий рецептов.

In [16]:
names = recipes['name'].sample(10)
names

1836            baked eggs on a bed of potatoes with bacon
25679             spinach saute with brown butter   garlic
12412                        grandma s chocolate chip cake
27584                            three onion soup gratinee
9962                    easy cranberry orange pecan scones
17292                                  meatloaf florentine
17718                    mini cherry pecan streusel loaves
2272                                     barbecue chex mix
16679                         macaroni and pesto with tofu
10584    english seaside tangy tartar sauce for fish an...
Name: name, dtype: object

1.6 Измените индекс в таблице `reviews`, пронумеровав строки, начиная с нуля.

In [17]:
reviews.sort_index().reset_index().drop('index',axis=1)

,user_id,recipe_id,date,rating,review
0,52282,120345,2005-05-21,4,very very sweet. after i waited the 2 days i b...
1,124416,120345,2011-08-06,0,"Just an observation, so I will not rate. I fo..."
2,2000192946,120345,2015-05-10,2,This recipe was OVERLY too sweet. I would sta...
3,76535,134728,2005-09-02,4,Very good!
4,273745,134728,2005-12-22,5,Better than the real!!
...,...,...,...,...,...
126691,681416,103587,2010-02-02,5,This is a delicious alternative to tartar sauc...
126692,1986433,103587,2011-08-19,1,"Sorry, but this is awful the mix of ingredient..."
126693,2317533,103587,2012-07-05,5,Outstanding dill sauce! I used about a tsp of...
126694,1963163,451490,2015-05-23,5,Just made this for the first time today. This ...
126695,1269180,257796,2011-08-07,4,Very tender and juicy - had trouble getting t...

1.7 Выведите информацию о рецептах, время выполнения которых не больше 20 минут и кол-во ингредиентов в которых не больше 5.

In [18]:
recipes.loc[((recipes['minutes'] <= 20) & (recipes['n_ingredients' ] <= 5))]

,name,id,minutes,contributor_id,submitted,n_steps,description,n_ingredients
28,quick biscuit bread,302399,20,213909,2008-05-06,11.0,this is a wonderful quick bread to make as an ...,5.0
60,peas fit for a king or queen,303944,20,213909,2008-05-16,NaN,this recipe is so simple and the flavors are s...,5.0
90,hawaiian sunrise mimosa,100837,5,58104,2004-09-29,4.0,pineapple mimosa was changed to hawaiian sunri...,3.0
91,tasty dish s banana pudding in 2 minutes,286484,2,47892,2008-02-13,NaN,"""mmmm, i love bananas!"" a --tasty dish-- origi...",4.0
94,1 minute meatballs,11361,13,4470,2001-09-03,NaN,this is a real short cut for cooks in a hurry....,2.0
...,...,...,...,...,...,...,...,...
29873,zip and steam red potatoes with butter and garlic,304922,13,724218,2008-05-27,9.0,"i haven't tried this yet, but i am going to so...",5.0
29874,ziplock vanilla ice cream,74250,10,24386,2003-10-29,8.0,a fun thing for kids to do. may want to use mi...,3.0
29905,zucchini and corn with cheese,256177,15,305531,2007-09-29,4.0,from betty crocker fresh spring recipes. i lik...,5.0
29980,zucchini with jalapeno monterey jack,320622,10,305531,2008-08-20,3.0,simple and yummy!,3.0
29983,zucchini with serrano ham,162411,15,152500,2006-03-31,6.0,"this dish is from tim malzer, a german chef wh...",5.0

### Работа с датами в `pandas`

2.1 Преобразуйте столбец `submitted` из таблицы `recipes` в формат времени. Модифицируйте решение задачи 1.1 так, чтобы считать столбец сразу в нужном формате.

In [19]:
recipes['submitted']=pd.to_datetime(recipes['submitted'])
recipes

,name,id,minutes,contributor_id,submitted,n_steps,description,n_ingredients
0,george s at the cove black bean soup,44123,90,35193,2002-10-25,NaN,an original recipe created by chef scott meska...,18.0
1,healthy for them yogurt popsicles,67664,10,91970,2003-07-26,NaN,my children and their friends ask for my homem...,NaN
2,i can t believe it s spinach,38798,30,1533,2002-08-29,NaN,"these were so go, it surprised even me.",8.0
3,italian gut busters,35173,45,22724,2002-07-27,NaN,my sister-in-law made these for us at a family...,NaN
4,love is in the air beef fondue sauces,84797,25,4470,2004-02-23,4.0,i think a fondue is a very romantic casual din...,NaN
...,...,...,...,...,...,...,...,...
29995,zurie s holey rustic olive and cheddar bread,267661,80,200862,2007-11-25,16.0,this is based on a french recipe but i changed...,10.0
29996,zwetschgenkuchen bavarian plum cake,386977,240,177443,2009-08-24,NaN,"this is a traditional fresh plum cake, thought...",11.0
29997,zwiebelkuchen southwest german onion cake,103312,75,161745,2004-11-03,NaN,this is a traditional late summer early fall s...,NaN
29998,zydeco soup,486161,60,227978,2012-08-29,NaN,this is a delicious soup that i originally fou...,NaN
29999,cookies by design cookies on a stick,298512,29,506822,2008-04-15,9.0,"i've heard of the 'cookies by design' company,...",10.0

In [20]:
recipes.dtypes

name                      object
id                         int64
minutes                    int64
contributor_id             int64
submitted         datetime64[ns]
n_steps                  float64
description               object
n_ingredients            float64
dtype: object

In [21]:
#NEW 1.1
recipes = pd.read_csv('recipes_sample.csv',parse_dates=['submitted'])
recipes.dtypes

name                      object
id                         int64
minutes                    int64
contributor_id             int64
submitted         datetime64[ns]
n_steps                  float64
description               object
n_ingredients            float64
dtype: object

2.2 Выведите информацию о рецептах, добавленных в датасет не позже 2010 года.

In [22]:
import datetime as dt
new_rec=recipes.loc[(recipes['submitted'] <= dt.datetime.strptime('20101231','%Y%m%d'))]
new_rec

,name,id,minutes,contributor_id,submitted,n_steps,description,n_ingredients
0,george s at the cove black bean soup,44123,90,35193,2002-10-25,NaN,an original recipe created by chef scott meska...,18.0
1,healthy for them yogurt popsicles,67664,10,91970,2003-07-26,NaN,my children and their friends ask for my homem...,NaN
2,i can t believe it s spinach,38798,30,1533,2002-08-29,NaN,"these were so go, it surprised even me.",8.0
3,italian gut busters,35173,45,22724,2002-07-27,NaN,my sister-in-law made these for us at a family...,NaN
4,love is in the air beef fondue sauces,84797,25,4470,2004-02-23,4.0,i think a fondue is a very romantic casual din...,NaN
...,...,...,...,...,...,...,...,...
29993,zuni caf zucchini pickles,316950,2895,62264,2008-07-31,NaN,refrigerator pickles for some of the zucchini ...,8.0
29995,zurie s holey rustic olive and cheddar bread,267661,80,200862,2007-11-25,16.0,this is based on a french recipe but i changed...,10.0
29996,zwetschgenkuchen bavarian plum cake,386977,240,177443,2009-08-24,NaN,"this is a traditional fresh plum cake, thought...",11.0
29997,zwiebelkuchen southwest german onion cake,103312,75,161745,2004-11-03,NaN,this is a traditional late summer early fall s...,NaN
29999,cookies by design cookies on a stick,298512,29,506822,2008-04-15,9.0,"i've heard of the 'cookies by design' company,...",10.0

### Работа со строковыми данными в `pandas`

3.1  Добавьте в таблицу `recipes` столбец `description_length`, в котором хранится длина описания рецепта из столбца `description`.

In [23]:
recipes['description_length']=recipes['description'].str.len()
recipes

,name,id,minutes,contributor_id,submitted,n_steps,description,n_ingredients,description_length
0,george s at the cove black bean soup,44123,90,35193,2002-10-25,NaN,an original recipe created by chef scott meska...,18.0,330.0
1,healthy for them yogurt popsicles,67664,10,91970,2003-07-26,NaN,my children and their friends ask for my homem...,NaN,255.0
2,i can t believe it s spinach,38798,30,1533,2002-08-29,NaN,"these were so go, it surprised even me.",8.0,39.0
3,italian gut busters,35173,45,22724,2002-07-27,NaN,my sister-in-law made these for us at a family...,NaN,154.0
4,love is in the air beef fondue sauces,84797,25,4470,2004-02-23,4.0,i think a fondue is a very romantic casual din...,NaN,587.0
...,...,...,...,...,...,...,...,...,...
29995,zurie s holey rustic olive and cheddar bread,267661,80,200862,2007-11-25,16.0,this is based on a french recipe but i changed...,10.0,484.0
29996,zwetschgenkuchen bavarian plum cake,386977,240,177443,2009-08-24,NaN,"this is a traditional fresh plum cake, thought...",11.0,286.0
29997,zwiebelkuchen southwest german onion cake,103312,75,161745,2004-11-03,NaN,this is a traditional late summer early fall s...,NaN,311.0
29998,zydeco soup,486161,60,227978,2012-08-29,NaN,this is a delicious soup that i originally fou...,NaN,648.0
29999,cookies by design cookies on a stick,298512,29,506822,2008-04-15,9.0,"i've heard of the 'cookies by design' company,...",10.0,125.0

3.2 Измените название каждого рецепта в таблице `recipes` таким образом, чтобы каждое слово в названии начиналось с прописной буквы.

In [24]:
recipes['name']=recipes['name'].str.capitalize()
recipes

,name,id,minutes,contributor_id,submitted,n_steps,description,n_ingredients,description_length
0,George s at the cove black bean soup,44123,90,35193,2002-10-25,NaN,an original recipe created by chef scott meska...,18.0,330.0
1,Healthy for them yogurt popsicles,67664,10,91970,2003-07-26,NaN,my children and their friends ask for my homem...,NaN,255.0
2,I can t believe it s spinach,38798,30,1533,2002-08-29,NaN,"these were so go, it surprised even me.",8.0,39.0
3,Italian gut busters,35173,45,22724,2002-07-27,NaN,my sister-in-law made these for us at a family...,NaN,154.0
4,Love is in the air beef fondue sauces,84797,25,4470,2004-02-23,4.0,i think a fondue is a very romantic casual din...,NaN,587.0
...,...,...,...,...,...,...,...,...,...
29995,Zurie s holey rustic olive and cheddar bread,267661,80,200862,2007-11-25,16.0,this is based on a french recipe but i changed...,10.0,484.0
29996,Zwetschgenkuchen bavarian plum cake,386977,240,177443,2009-08-24,NaN,"this is a traditional fresh plum cake, thought...",11.0,286.0
29997,Zwiebelkuchen southwest german onion cake,103312,75,161745,2004-11-03,NaN,this is a traditional late summer early fall s...,NaN,311.0
29998,Zydeco soup,486161,60,227978,2012-08-29,NaN,this is a delicious soup that i originally fou...,NaN,648.0
29999,Cookies by design cookies on a stick,298512,29,506822,2008-04-15,9.0,"i've heard of the 'cookies by design' company,...",10.0,125.0

3.3 Добавьте в таблицу `recipes` столбец `name_word_count`, в котором хранится количество слов из названии рецепта (считайте, что слова в названии разделяются только пробелами). Обратите внимание, что между словами может располагаться несколько пробелов подряд.

In [25]:
recipes.insert(1,'name_word_count',recipes['name'].str.count(' ')+1)
three_three=recipes
recipes

,name,name_word_count,id,minutes,contributor_id,submitted,n_steps,description,n_ingredients,description_length
0,George s at the cove black bean soup,9,44123,90,35193,2002-10-25,NaN,an original recipe created by chef scott meska...,18.0,330.0
1,Healthy for them yogurt popsicles,6,67664,10,91970,2003-07-26,NaN,my children and their friends ask for my homem...,NaN,255.0
2,I can t believe it s spinach,7,38798,30,1533,2002-08-29,NaN,"these were so go, it surprised even me.",8.0,39.0
3,Italian gut busters,4,35173,45,22724,2002-07-27,NaN,my sister-in-law made these for us at a family...,NaN,154.0
4,Love is in the air beef fondue sauces,11,84797,25,4470,2004-02-23,4.0,i think a fondue is a very romantic casual din...,NaN,587.0
...,...,...,...,...,...,...,...,...,...,...
29995,Zurie s holey rustic olive and cheddar bread,8,267661,80,200862,2007-11-25,16.0,this is based on a french recipe but i changed...,10.0,484.0
29996,Zwetschgenkuchen bavarian plum cake,5,386977,240,177443,2009-08-24,NaN,"this is a traditional fresh plum cake, thought...",11.0,286.0
29997,Zwiebelkuchen southwest german onion cake,7,103312,75,161745,2004-11-03,NaN,this is a traditional late summer early fall s...,NaN,311.0
29998,Zydeco soup,2,486161,60,227978,2012-08-29,NaN,this is a delicious soup that i originally fou...,NaN,648.0
29999,Cookies by design cookies on a stick,9,298512,29,506822,2008-04-15,9.0,"i've heard of the 'cookies by design' company,...",10.0,125.0

## Лабораторная работа №2.2

### Группировки таблиц `pd.DataFrame`

4.1 Посчитайте количество рецептов, представленных каждым из участников (`contributor_id`). Какой участник добавил максимальное кол-во рецептов?

In [26]:
nerp = recipes.groupby('contributor_id')['id'].agg(list).reset_index(name='id')
nerp.insert(2,'quantities',nerp['id'].str.len())
nerp=nerp.sort_values('quantities')
nerp[nerp['quantities'] == nerp['quantities'].max()]

,contributor_id,id,quantities
1768,89831,"[149593, 141939, 289671, 176996, 177987, 12473...",421

4.2 Посчитайте средний рейтинг к каждому из рецептов. Для скольких рецептов отсутствуют отзывы? Обратите внимание, что отзыв с нулевым рейтингом или не заполненным текстовым описанием не считается отсутствующим.

In [27]:
rev_rec=reviews.groupby('recipe_id')['rating'].agg(lambda x: sum(list(x))/len(list(x))).reset_index(name='rating')
rev_rec

       recipe_id    rating
0             48  1.000000
1             55  4.750000
2             66  4.944444
3             91  4.750000
4             94  5.000000
...          ...       ...
28095     536547  5.000000
28096     536610  0.000000
28097     536728  4.000000
28098     536729  4.750000
28099     536747  0.000000

[28100 rows x 2 columns]

4.3 Посчитайте количество рецептов с разбивкой по годам создания.

In [28]:
recipes['year']=pd.to_datetime(recipes['submitted']).dt.to_period("Y")
ner=recipes.groupby('year')['id'].agg(lambda x: len(list(x))).reset_index(name='ids')
ner

    year   ids
0   1999   275
1   2000   104
2   2001   589
3   2002  2644
4   2003  2334
5   2004  2153
6   2005  3130
7   2006  3473
8   2007  4429
9   2008  4029
10  2009  2963
11  2010  1538
12  2011   922
13  2012   659
14  2013   490
15  2014   139
16  2015    42
17  2016    24
18  2017    39
19  2018    24

### Объединение таблиц `pd.DataFrame`

5.1 При помощи объединения таблиц, создайте `DataFrame`, состоящий из четырех столбцов: `id`, `name`, `user_id`, `rating`. Рецепты, на которые не оставлен ни один отзыв, должны отсутствовать в полученной таблице. Подтвердите правильность работы вашего кода, выбрав рецепт, не имеющий отзывов, и попытавшись найти строку, соответствующую этому рецепту, в полученном `DataFrame`.

In [29]:
new_con=pd.merge(recipes,reviews,how='left',left_on='id',right_on='recipe_id')[['id', 'name', 'user_id', 'rating','year']].dropna()
five_one = new_con.drop('year',axis=1)
five_one

            id                                    name    user_id  rating
0        44123   George s at the cove  black bean soup   743566.0     5.0
1        44123   George s at the cove  black bean soup    76503.0     5.0
2        44123   George s at the cove  black bean soup    34206.0     5.0
3        67664      Healthy for them  yogurt popsicles   494084.0     5.0
4        67664      Healthy for them  yogurt popsicles   303445.0     5.0
...        ...                                     ...        ...     ...
128591  486161                             Zydeco soup   305531.0     5.0
128592  486161                             Zydeco soup  1271506.0     5.0
128593  486161                             Zydeco soup   724631.0     5.0
128594  486161                             Zydeco soup   133174.0     5.0
128595  298512  Cookies by design   cookies on a stick   804234.0     1.0

[126696 rows x 4 columns]

In [30]:
len(new_con)==len(reviews)

True

5.2 При помощи объединения таблиц и группировок, создайте `DataFrame`, состоящий из трех столбцов: `recipe_id`, `name`, `review_count`, где столбец `review_count` содержит кол-во отзывов, оставленных на рецепт `recipe_id`. У рецептов, на которые не оставлен ни один отзыв, в столбце `review_count` должен быть указан 0. Подтвердите правильность работы вашего кода, выбрав рецепт, не имеющий отзывов, и найдя строку, соответствующую этому рецепту, в полученном `DataFrame`.

In [31]:
rew_counts = reviews.groupby('recipe_id')['review'].agg(lambda x: len(list(x))).reset_index(name='review_count')

five_two = pd.merge(recipes,rew_counts,how='left',left_on='id',right_on='recipe_id')[['recipe_id','name','review_count']].fillna(0)

five_two

       recipe_id                                          name  review_count
0        44123.0         George s at the cove  black bean soup           3.0
1        67664.0            Healthy for them  yogurt popsicles           8.0
2        38798.0                  I can t believe it s spinach           3.0
3        35173.0                          Italian  gut busters           1.0
4        84797.0      Love is in the air  beef fondue   sauces           8.0
...          ...                                           ...           ...
29995   267661.0  Zurie s holey rustic olive and cheddar bread           4.0
29996   386977.0          Zwetschgenkuchen  bavarian plum cake           2.0
29997   103312.0   Zwiebelkuchen   southwest german onion cake           6.0
29998   486161.0                                   Zydeco soup           6.0
29999   298512.0        Cookies by design   cookies on a stick           1.0

[30000 rows x 3 columns]

5.3. Выясните, рецепты, добавленные в каком году, имеют наименьший средний рейтинг?

In [32]:
volf=new_con.groupby('id')['rating'].agg(lambda x: sum(list(x))/len(list(x))).reset_index(name='rating')
five_three=(pd.merge(new_con.drop(['rating','user_id'],axis=1),volf,how='left',left_on='id',right_on='id').drop_duplicates()).groupby('year')['rating'].agg(lambda x:  sum(list(x))/len(list(x))).reset_index(name='mean_ratin')
five_three

    year  mean_ratin
0   1999    4.058786
1   2000    4.168185
2   2001    4.245481
3   2002    4.281093
4   2003    4.380103
5   2004    4.402897
6   2005    4.355216
7   2006    4.355206
8   2007    4.363256
9   2008    4.360928
10  2009    4.360969
11  2010    4.369973
12  2011    4.388443
13  2012    4.419341
14  2013    4.345621
15  2014    4.400553
16  2015    4.064969
17  2016    3.456522
18  2017    2.707071
19  2018    3.343750

In [33]:
five_three[five_three['mean_ratin']==five_three['mean_ratin'].min()]

    year  mean_ratin
18  2017    2.707071

### Сохранение таблиц `pd.DataFrame`

6.1 Отсортируйте таблицу в порядке убывания величины столбца `name_word_count` и сохраните результаты выполнения заданий 3.1-3.3 в csv файл.

In [34]:
six_one = three_three.sort_values('name_word_count')
six_one.to_csv('six_one.csv')

6.2 Воспользовавшись `pd.ExcelWriter`, cохраните результаты 5.1 и 5.2 в файл: на лист с названием `Рецепты с оценками` сохраните результаты выполнения 5.1; на лист с названием `Количество отзывов по рецептам` сохраните результаты выполнения 5.2.

In [36]:
writer = pd.ExcelWriter('task5.xlsx')
five_one.to_excel(writer, sheet_name='Рецепты с оценками')
five_two.to_excel(writer, sheet_name='Количество отзывов по рецептам')
writer.close()

#### [версия 2]
* Уточнены формулировки задач 1.1, 3.3, 4.2, 5.1, 5.2, 5.3

In [44]:
g = pd.read_excel('Книга.xlsx',dtype=str,names=['actual num','permutation'])

In [45]:
k = pd.DataFrame(g['permutation'])

In [46]:
o=[]
for i in list(k['permutation']):
    l=(i[3:10])
    o.append(l[:2]+l[3:5]+l[6:8])
g['perms'] = o

In [47]:
perms = g[['actual num','perms']]

In [48]:
writer = pd.ExcelWriter('Runes.xlsx')
perms.to_excel(writer, sheet_name='Расшифровка',index=False)
writer.close()